/* Variables */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

th, td {
  text-align: left;
  vertical-align: top; }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

section {
  clear: both;
  overflow: hidden; }

html, body {
  font-family: "Exo", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.4; }
  @media screen and (max-width: 768px) {
    html, body {
      font-size: 14px; } }
  @media screen and (min-width: 2500px) {
    html, body {
      font-size: 18px; } }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  padding-top: 91px;
  transition: padding-top 0.5s ease-in-out 0s; }
  @media screen and (max-width: 992px) {
    body {
      padding-top: 46px;
      transition: padding-top 0.5s ease-in-out 0s; } }

img {
  max-width: 100%;
  height: auto; }

h1, h2 {
  font-weight: 500; }

h1, h2, h4 {
  color: #4d4192; }

h1 {
  font-size: 2.250em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.313em;
  color: #666; }

h3, h4 {
  font-weight: 700; }

h4 {
  font-size: 1.125em; }

p {
  color: #666;
  margin-bottom: 10px; }

ol, ul {
  margin-bottom: 0;
  /*bootstrap 10px!*/ }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

.color-purple {
  color: #4d4192; }

.nav-menu > li > .ul-wrap > ul > li.first .ul-wrap {
  display: block;
  z-index: 1; }

.nav-menu > li > .ul-wrap > ul > li.sub-active .ul-wrap {
  display: block;
  height: 190px;
  z-index: 3; }

li.language ul#menu-language-menu.active {
  display: block; }

a {
  color: #4d4192;
  text-decoration: none; }
  a:hover, a:link, a:visited, a:active {
    color: #4d4192;
    text-decoration: none; }

.light-title {
  color: #fff; }

.img-center {
  text-align: center; }

input, button, textarea {
  outline: none; }

.btn, .btn-info, .btn-primary {
  display: inline-block;
  font-size: 0.875em;
  cursor: pointer;
  margin: 14px 0 0;
  border-radius: 3px;
  transition: all 0.3s ease-in-out 0s; }
  @media screen and (max-width: 768px) {
    .btn, .btn-info, .btn-primary {
      text-align: center;
      width: 100%; } }

.btn, .btn-info {
  color: #fff;
  background-color: #4d4192; }
  .btn:link, .btn:visited, .btn:active, .btn-info:link, .btn-info:visited, .btn-info:active {
    color: #fff; }

.btn {
  padding: 9px 29px;
  border: 1px solid #4d4192; }
  .btn:hover {
    color: #4d4192;
    background-color: transparent; }

.btn-info {
  padding: 10px 30px; }
  .btn-info:hover {
    background-color: #342A75; }

.btn-primary {
  color: #4d4192;
  border: 1px solid #4d4192;
  padding: 9px 29px; }
  .btn-primary:link, .btn-primary:visited, .btn-primary:active {
    color: #4d4192; }
  .btn-primary:hover {
    background-color: #4d4192;
    color: #fff; }

.btn-custom {
  padding: 9px 17px; }

.bread-crumbs {
  position: relative;
  background-color: #4d4192;
  padding: 10px 0; }
  .bread-crumbs ul li {
    float: left; }
    .bread-crumbs ul li:last-child {
      font-weight: 700; }
      .bread-crumbs ul li:last-child .fa {
        display: none; }
  .bread-crumbs a {
    color: #fff; }
    .bread-crumbs a:hover {
      text-decoration: underline; }
  .bread-crumbs .fa {
    color: #fff;
    margin: 0 7px; }

.borderradius #markups a {
  border-radius: 50%; }

#markups {
  display: block;
  top: 30%;
  width: 44px;
  right: 15px;
  position: fixed;
  z-index: 9; }
  @media screen and (max-width: 768px) {
    #markups {
      display: none; } }
  #markups a {
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 3px 0;
    background: #666;
    text-align: center;
    color: #fff;
    border-radius: 50%; }
    #markups a:hover {
      background-color: #333;
      cursor: pointer; }
    #markups a .fa {
      margin-top: 13px; }

div.addtoany_share_save_container {
  height: 32px; }

div.addtoany_content_top {
  margin: 0 0 15px 0; }

div.addtoany_content_bottom {
  margin: 15px 0 0 0; }

.logged-in {
  margin-top: 32px;
  transition: all .35s; }
  @media screen and (max-width: 768px) {
    .logged-in {
      margin-top: 46px; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  @media screen and (max-width: 768px) {
    header {
      height: 46px;
      border-bottom: 1px solid #f3f3f3;
      transition: all 0.5s ease-in-out 0s; } }
  header .top-nav {
    height: 58px;
    transition: all 0.5s ease-in-out 0s;
    background-color: #fff; }
    @media screen and (max-width: 992px) {
      header .top-nav {
        height: 45px; } }
  header .logo {
    float: left; }
    header .logo a img {
      width: 176px;
      height: 30px;
      transition: all 0.5s ease-in-out 0s;
      margin-top: 14px; }
      @media screen and (max-width: 992px) {
        header .logo a img {
          width: 143px;
          height: 25px;
          transition: all 0.5s ease-in-out 0s;
          margin-top: 9px; } }
  header #burger-menu {
    display: none;
    float: right;
    margin-top: 9px; }
    @media screen and (max-width: 768px) {
      header #burger-menu {
        display: block; } }
    header #burger-menu i {
      font-size: 2em;
      color: #4d4192; }
  header ul.utility-nav-small {
    display: none;
    float: right;
    font-size: 1.7em;
    margin-top: 6px; }
    @media screen and (max-width: 768px) {
      header ul.utility-nav-small {
        display: none; } }
    header ul.utility-nav-small .language-sub {
      display: none; }
    header ul.utility-nav-small li.language, header ul.utility-nav-small li.search-icon {
      float: left; }
    header ul.utility-nav-small li.search-icon {
      margin-right: 15px; }
  header nav.page-nav {
    font-size: 0.875em;
    font-weight: 500;
    background-color: #4d4192; }
    @media screen and (min-width: 769px) and (max-width: 992px) {
      header nav.page-nav {
        font-size: 0.750em; } }
    @media screen and (max-width: 768px) {
      header nav.page-nav {
        display: none; } }
    header nav.page-nav ul.nav-menu li ul li ul.sub-menu li ul.sub-menu li a {
      display: inline; }
    header nav.page-nav ul.nav-menu > li:hover > a {
      background-color: #6762a7;
      color: #fff;
      cursor: pointer; }
    header nav.page-nav ul.nav-menu {
      margin-left: -15px; }
      header nav.page-nav ul.nav-menu li {
        float: left; }
        header nav.page-nav ul.nav-menu li a {
          display: block;
          color: #fff;
          text-transform: uppercase;
          padding: 8px 15px 6px 15px;
          transition: padding 0.5s ease-in-out 0s; }
        header nav.page-nav ul.nav-menu li .ul-wrap {
          display: none;
          width: 100%;
          background-color: #6762a7;
          position: absolute;
          left: 0; }
        header nav.page-nav ul.nav-menu li ul {
          width: 1170px;
          margin-left: auto;
          margin-right: auto; }
          @media screen and (max-width: 1200px) {
            header nav.page-nav ul.nav-menu li ul {
              width: 970px; } }
          @media screen and (max-width: 991px) {
            header nav.page-nav ul.nav-menu li ul {
              width: 750px; } }
          header nav.page-nav ul.nav-menu li ul li {
            padding: 8px 15px 6px 15px; }
            header nav.page-nav ul.nav-menu li ul li:hover > a {
              text-decoration: underline; }
            header nav.page-nav ul.nav-menu li ul li a {
              color: #fff;
              padding: 0; }
              header nav.page-nav ul.nav-menu li ul li a:hover {
                text-decoration: underline; }
            header nav.page-nav ul.nav-menu li ul li .ul-wrap {
              background-color: #e1e8f6;
              margin-top: 6px; }
            header nav.page-nav ul.nav-menu li ul li ul.sub-menu li {
              padding: 25px 15px 20px 15px; }
              header nav.page-nav ul.nav-menu li ul li ul.sub-menu li:hover > a {
                color: #4d4192;
                text-decoration: none; }
              header nav.page-nav ul.nav-menu li ul li ul.sub-menu li .ul-wrap {
                display: block;
                width: auto;
                margin: 0;
                position: relative;
                background: transparent; }
              header nav.page-nav ul.nav-menu li ul li ul.sub-menu li a {
                color: #4d4192;
                background: transparent;
                font-size: 1.125em;
                font-weight: 500;
                padding: 0;
                pointer-events: none;
                cursor: default; }
                header nav.page-nav ul.nav-menu li ul li ul.sub-menu li a:hover {
                  background: transparent;
                  text-decoration: none; }
              header nav.page-nav ul.nav-menu li ul li ul.sub-menu li ul.sub-menu {
                display: block;
                margin-top: 15px;
                width: auto; }
                header nav.page-nav ul.nav-menu li ul li ul.sub-menu li ul.sub-menu li {
                  float: none;
                  margin-bottom: 5px;
                  padding: 0; }
                  header nav.page-nav ul.nav-menu li ul li ul.sub-menu li ul.sub-menu li a {
                    color: #666;
                    pointer-events: auto;
                    cursor: pointer;
                    font-weight: 500;
                    font-size: 1em;
                    text-transform: none; }
                    header nav.page-nav ul.nav-menu li ul li ul.sub-menu li ul.sub-menu li a:hover {
                      text-decoration: underline; }
    header nav.page-nav li#menu-item-480:hover > a, header nav.page-nav li#menu-item-2271:hover > a {
      background: transparent;
      color: #666; }
    header nav.page-nav li#menu-item-480 .ul-wrap, header nav.page-nav li#menu-item-2271 .ul-wrap {
      width: auto;
      left: auto; }
      header nav.page-nav li#menu-item-480 .ul-wrap .sub-menu, header nav.page-nav li#menu-item-2271 .ul-wrap .sub-menu {
        width: auto; }
        header nav.page-nav li#menu-item-480 .ul-wrap .sub-menu li, header nav.page-nav li#menu-item-2271 .ul-wrap .sub-menu li {
          float: none; }

#menu-item-746 > .ul-wrap > ul.sub-menu, #menu-item-749 > .ul-wrap > ul.sub-menu, #menu-item-754 > .ul-wrap > ul.sub-menu, #menu-item-226 > .ul-wrap > ul.sub-menu, #menu-item-2280 > .ul-wrap > ul.sub-menu, #menu-item-2277 > .ul-wrap > ul.sub-menu, #menu-item-2278 > .ul-wrap > ul.sub-menu, #menu-item-2274 > .ul-wrap > ul.sub-menu {
  padding: 25px 15px 20px 15px; }
  #menu-item-746 > .ul-wrap > ul.sub-menu > li, #menu-item-749 > .ul-wrap > ul.sub-menu > li, #menu-item-754 > .ul-wrap > ul.sub-menu > li, #menu-item-226 > .ul-wrap > ul.sub-menu > li, #menu-item-2280 > .ul-wrap > ul.sub-menu > li, #menu-item-2277 > .ul-wrap > ul.sub-menu > li, #menu-item-2278 > .ul-wrap > ul.sub-menu > li, #menu-item-2274 > .ul-wrap > ul.sub-menu > li {
    padding: 0;
    margin-bottom: 5px;
    float: none; }
    #menu-item-746 > .ul-wrap > ul.sub-menu > li > a, #menu-item-749 > .ul-wrap > ul.sub-menu > li > a, #menu-item-754 > .ul-wrap > ul.sub-menu > li > a, #menu-item-226 > .ul-wrap > ul.sub-menu > li > a, #menu-item-2280 > .ul-wrap > ul.sub-menu > li > a, #menu-item-2277 > .ul-wrap > ul.sub-menu > li > a, #menu-item-2278 > .ul-wrap > ul.sub-menu > li > a, #menu-item-2274 > .ul-wrap > ul.sub-menu > li > a {
      display: inline;
      color: #666;
      text-decoration: none;
      text-transform: none;
      pointer-events: auto;
      cursor: pointer;
      font-weight: 500;
      font-size: 1em; }
      #menu-item-746 > .ul-wrap > ul.sub-menu > li > a:hover, #menu-item-749 > .ul-wrap > ul.sub-menu > li > a:hover, #menu-item-754 > .ul-wrap > ul.sub-menu > li > a:hover, #menu-item-226 > .ul-wrap > ul.sub-menu > li > a:hover, #menu-item-2280 > .ul-wrap > ul.sub-menu > li > a:hover, #menu-item-2277 > .ul-wrap > ul.sub-menu > li > a:hover, #menu-item-2278 > .ul-wrap > ul.sub-menu > li > a:hover, #menu-item-2274 > .ul-wrap > ul.sub-menu > li > a:hover {
        text-decoration: underline; }

#menu-item-753 > .ul-wrap, #menu-item-2279 > .ul-wrap {
  height: auto; }

#menu-item-226 > .ul-wrap, #menu-item-2274 > .ul-wrap {
  background-color: #e1e8f6;
  border-top: 5px solid #6762a7; }

.header-menu-language {
  display: block; }
  @media screen and (max-width: 768px) {
    .header-menu-language {
      display: none; } }
  .header-menu-language ul li#menu-item-2487 {
    padding: 21px 30px 18px 15px;
    transition: padding 0.5s ease-in-out 0s; }
    @media screen and (min-width: 769px) and (max-width: 992px) {
      .header-menu-language ul li#menu-item-2487 {
        padding: 15px 30px 12px 15px;
        transition: padding 0.5s ease-in-out 0s; } }
    .header-menu-language ul li#menu-item-2487 a {
      font-size: 0.875em; }
    .header-menu-language ul li#menu-item-2487 .ul-wrap {
      margin-top: 2px;
      margin-left: -15px; }
      .header-menu-language ul li#menu-item-2487 .ul-wrap ul.sub-menu {
        padding: 6px 15px 5px; }

.header-menu-small-language {
  display: none; }
  @media screen and (max-width: 768px) {
    .header-menu-small-language {
      display: block; } }
  .header-menu-small-language ul li#menu-item-2436 a {
    padding: 14px 15px 13px; }
  .header-menu-small-language ul li#menu-item-2436 .ul-wrap {
    z-index: 1001; }

.header-menu-language, .header-menu-small-language {
  float: right; }
  .header-menu-language ul li#menu-item-2436 a, .header-menu-language ul li#menu-item-2487 a, .header-menu-small-language ul li#menu-item-2436 a, .header-menu-small-language ul li#menu-item-2487 a {
    display: block;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
    transition: padding 0.5s ease-in-out 0s; }
  .header-menu-language ul li#menu-item-2436 .ul-wrap, .header-menu-language ul li#menu-item-2487 .ul-wrap, .header-menu-small-language ul li#menu-item-2436 .ul-wrap, .header-menu-small-language ul li#menu-item-2487 .ul-wrap {
    display: none;
    width: auto;
    left: auto;
    background-color: #6762a7;
    position: absolute; }
    .header-menu-language ul li#menu-item-2436 .ul-wrap .sub-menu, .header-menu-language ul li#menu-item-2487 .ul-wrap .sub-menu, .header-menu-small-language ul li#menu-item-2436 .ul-wrap .sub-menu, .header-menu-small-language ul li#menu-item-2487 .ul-wrap .sub-menu {
      width: auto;
      padding-top: 8px;
      padding-bottom: 6px; }
      .header-menu-language ul li#menu-item-2436 .ul-wrap .sub-menu li, .header-menu-language ul li#menu-item-2487 .ul-wrap .sub-menu li, .header-menu-small-language ul li#menu-item-2436 .ul-wrap .sub-menu li, .header-menu-small-language ul li#menu-item-2487 .ul-wrap .sub-menu li {
        padding-top: 6px;
        padding-bottom: 4px; }
        .header-menu-language ul li#menu-item-2436 .ul-wrap .sub-menu li a, .header-menu-language ul li#menu-item-2487 .ul-wrap .sub-menu li a, .header-menu-small-language ul li#menu-item-2436 .ul-wrap .sub-menu li a, .header-menu-small-language ul li#menu-item-2487 .ul-wrap .sub-menu li a {
          color: #fff;
          padding-top: 0;
          padding-bottom: 0; }

.header-menu-small {
  display: none;
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: #4d4192;
  z-index: 999; }
  .header-menu-small ul.nav-menu-small li {
    cursor: pointer;
    padding: 10px 0; }
    .header-menu-small ul.nav-menu-small li a {
      font-size: 1.5em;
      line-height: 0;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none; }
      .header-menu-small ul.nav-menu-small li a:link, .header-menu-small ul.nav-menu-small li a:visited, .header-menu-small ul.nav-menu-small li a:active {
        text-decoration: none;
        color: #fff; }
    .header-menu-small ul.nav-menu-small li i {
      color: #fff;
      font-size: 1.143em;
      position: absolute;
      right: 15px; }
    .header-menu-small ul.nav-menu-small li .ul-wrap {
      display: none;
      margin-top: 10px; }
    .header-menu-small ul.nav-menu-small li ul.sub-menu li {
      margin-left: 15px; }
      .header-menu-small ul.nav-menu-small li ul.sub-menu li a {
        font-size: 1.333em;
        text-transform: uppercase;
        font-weight: 500; }
      .header-menu-small ul.nav-menu-small li ul.sub-menu li ul.sub-menu li a {
        font-size: 1.167em;
        text-transform: none; }
      .header-menu-small ul.nav-menu-small li ul.sub-menu li ul.sub-menu ul.sub-menu li a {
        font-size: 1em;
        font-weight: 500; }
      .header-menu-small ul.nav-menu-small li ul.sub-menu li ul.sub-menu ul.sub-menu li i {
        display: none; }
  .header-menu-small .menu-item-225 ul.sub-menu li i, .header-menu-small .menu-item-224 ul.sub-menu li i {
    display: none; }

#searchform {
  display: block;
  border-radius: 3px;
  border: 1px solid #666;
  height: 24px;
  float: right;
  margin-top: 17px;
  transition: margin 0.5s ease-in-out 0s; }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    #searchform {
      margin-top: 11px;
      transition: margin 0.5s ease-in-out 0s; } }
  @media screen and (max-width: 768px) {
    #searchform {
      display: none; } }
  #searchform input[type="text"] {
    background-color: transparent;
    border: 0;
    padding-left: 10px;
    width: 140px; }

#searchsubmit {
  background: transparent;
  padding: 0;
  border: 0;
  margin-top: -2px;
  margin-right: 10px; }

@media screen and (min-width: 769px) {
  header.menu-reduced .top-nav {
    height: 46px;
    transition: all 0.5s ease-in-out 0s; }
  header.menu-reduced .logo a img {
    width: 143px;
    height: 25px;
    transition: all 0.5s ease-in-out 0s;
    margin-top: 9px; }
  header.menu-reduced .utility-nav #searchform {
    margin-top: 11px;
    transition: margin 0.5s ease-in-out 0s; }
  header.menu-reduced .utility-nav .header-menu-language ul.nav-menu-language li#menu-item-2487 {
    padding: 15px 30px 12px 15px;
    transition: padding 0.5s ease-in-out 0s; } }

#slider {
  height: 600px; }
  @media screen and (max-width: 768px) {
    #slider {
      height: 420px; } }
  #slider .slider-content {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0; }
    @media screen and (max-width: 768px) {
      #slider .slider-content {
        top: 30px; } }
    #slider .slider-content h1 {
      margin-bottom: 34px;
      max-width: 450px; }
    #slider .slider-content h3 {
      max-width: 450px; }
    #slider .slider-content p.text-slider {
      max-width: 300px; }
    #slider .slider-content a.btn-info {
      width: auto; }
      @media screen and (max-width: 425px) {
        #slider .slider-content a.btn-info {
          width: 100%; } }
  #slider .owl-dots {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 30px;
    z-index: 2; }
    #slider .owl-dots .owl-dot {
      display: inline-block;
      margin-right: 20px;
      border: 2px solid #fff;
      border-radius: 50%;
      width: 13px;
      height: 13px;
      outline: none;
      cursor: pointer; }
      #slider .owl-dots .owl-dot:last-child {
        margin-right: 0; }
      #slider .owl-dots .owl-dot.active {
        background-color: #fff; }
  #slider .single-slide {
    height: 600px; }
    #slider .single-slide h1, #slider .single-slide h2, #slider .single-slide h3, #slider .single-slide h4, #slider .single-slide p {
      color: #fff;
      text-shadow: 1px 1px 0 rgba(3, 2, 4, 0.75); }

#slider-blog {
  padding: 6px 3px 0 3px;
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 992px) {
    #slider-blog {
      text-align: center; } }
  #slider-blog .col-slider-blog {
    display: flex;
    flex-direction: column;
    float: left;
    width: 25%;
    padding-left: 3px;
    padding-right: 3px; }
    @media screen and (max-width: 425px) {
      #slider-blog .col-slider-blog {
        width: 100%; } }
    @media screen and (min-width: 425px) and (max-width: 768px) {
      #slider-blog .col-slider-blog {
        width: 50%; } }
    #slider-blog .col-slider-blog .box {
      position: relative;
      background: #f3f3f3;
      height: 100%;
      width: 100%; }
      #slider-blog .col-slider-blog .box .box-img img {
        width: 100%; }
      #slider-blog .col-slider-blog .box .box-title {
        padding: 15px; }
        #slider-blog .col-slider-blog .box .box-title a {
          color: #666;
          font-weight: 500; }
          #slider-blog .col-slider-blog .box .box-title a:hover, #slider-blog .col-slider-blog .box .box-title a:link, #slider-blog .col-slider-blog .box .box-title a:visited, #slider-blog .col-slider-blog .box .box-title a:active {
            color: #666; }
      #slider-blog .col-slider-blog .box a.cover-link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1; }
        #slider-blog .col-slider-blog .box a.cover-link:hover:before {
          content: '';
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.1);
          left: 0;
          top: 0;
          position: absolute;
          z-index: -1; }

#products {
  padding: 30px 0; }
  @media screen and (max-width: 768px) {
    #products .btn-primary {
      margin-bottom: 30px; } }
  #products .left-column img {
    display: block; }
  #products .right-column p {
    margin-top: 20px; }
  #products .right-column img {
    height: 75px; }

#fortune {
  background: #4d4192;
  text-align: center;
  width: 100%; }
  #fortune p {
    color: #fff;
    font-size: 1.25em;
    margin: 15px 0; }

#reviews {
  position: relative;
  background: url("/wp-content/uploads/2017/08/reviews-bg.jpg") #888 fixed;
  background-size: cover;
  padding: 30px 0; }
  #reviews h2 {
    margin-bottom: 60px;
    text-align: center; }
    @media screen and (max-width: 425px) {
      #reviews h2 {
        margin-bottom: 30px; } }
  #reviews h2, #reviews p {
    color: #fff; }
  #reviews .owl-nav {
    display: block; }
    @media screen and (max-width: 425px) {
      #reviews .owl-nav {
        display: none; } }
    #reviews .owl-nav .owl-prev {
      position: absolute;
      left: 0;
      top: -5px; }
    #reviews .owl-nav .owl-next {
      position: absolute;
      right: 0;
      top: -5px; }
    #reviews .owl-nav i {
      font-size: 6em;
      color: #fff; }
      #reviews .owl-nav i.prev {
        left: 0;
        float: left; }
      #reviews .owl-nav i.next {
        right: 0;
        float: right; }
  #reviews .single-review .single-review-cell {
    position: relative;
    width: 80%;
    text-align: center;
    margin: 0 auto; }
    @media screen and (max-width: 425px) {
      #reviews .single-review .single-review-cell {
        width: 100%; } }
  #reviews .single-review .review-comment {
    margin-top: 17px; }
    @media screen and (max-width: 425px) {
      #reviews .single-review .review-comment {
        text-align: justify; } }
  #reviews .single-review .author {
    display: inline-block;
    text-align: right;
    margin-top: 60px;
    width: 100%; }
    @media screen and (max-width: 425px) {
      #reviews .single-review .author {
        margin-top: 30px; } }
    #reviews .single-review .author a {
      color: #fff;
      font-weight: 700; }
      #reviews .single-review .author a:hover {
        color: #4d4192; }

.a2a_kit a {
  float: left;
  margin-right: 7px; }

.a2a_svg {
  border-radius: 5px; }

#sidebar_footer {
  margin-top: 30px; }

/**
* Widget UI Media Img
 */
.wpshed-media-widget-footer {
  width: 31.5%;
  float: left;
  margin-right: 15px; }
  .wpshed-media-widget-footer .sidebar-wrap-ftr {
    position: relative; }
  .wpshed-media-widget-footer h4.widget-title {
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
    margin-bottom: 20px; }
  .wpshed-media-widget-footer .widget_content, .wpshed-media-widget-footer .image-wrap-ftr {
    background: #f3f3f3; }
  .wpshed-media-widget-footer .widget_content {
    padding: 10px; }
  .wpshed-media-widget-footer .image-wrap-ftr {
    height: 150px; }
    .wpshed-media-widget-footer .image-wrap-ftr img {
      height: 150px;
      width: 100%; }
  .wpshed-media-widget-footer .cover-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1; }
    .wpshed-media-widget-footer .cover-link:hover:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      left: 0;
      top: 0;
      position: absolute;
      z-index: -1; }

.wpshed-media-widget-footer-notitle {
  width: 31.5%;
  float: left;
  margin-right: 15px;
  margin-top: 51px; }
  .wpshed-media-widget-footer-notitle:last-child {
    margin-right: 0; }
  .wpshed-media-widget-footer-notitle .sidebar-wrap-ftr {
    position: relative; }
  .wpshed-media-widget-footer-notitle .widget_content, .wpshed-media-widget-footer-notitle .image-wrap-ftr {
    background: #f3f3f3; }
  .wpshed-media-widget-footer-notitle .widget_content {
    padding: 10px; }
  .wpshed-media-widget-footer-notitle .image-wrap-ftr {
    height: 150px; }
    .wpshed-media-widget-footer-notitle .image-wrap-ftr img {
      height: 150px;
      width: 100%; }
  .wpshed-media-widget-footer-notitle .cover-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1; }
    .wpshed-media-widget-footer-notitle .cover-link:hover:before {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      left: 0;
      top: 0;
      position: absolute;
      z-index: -1; }

.widget_media_image {
  margin-top: 30px; }

/**
* sidebar footer
 */
#sidebar_footer {
  margin-top: 30px; }

/**
* Widget UI brochure form
 */
.widget_ecodocx_brochure {
  margin-bottom: 30px; }
  .widget_ecodocx_brochure h4 {
    margin-bottom: 10px; }
  .widget_ecodocx_brochure input, .widget_ecodocx_brochure select {
    border: 1px solid #4d4192;
    color: #666;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 0.875em; }
  .widget_ecodocx_brochure input[type="submit"] {
    font-size: 0.875em;
    padding-top: 9px;
    padding-bottom: 9px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #4d4192;
    color: #fff;
    margin-top: 15px; }
  .widget_ecodocx_brochure p.title-small {
    font-weight: 700;
    font-size: 0.75em; }
  .widget_ecodocx_brochure p.text-small {
    font-size: 0.688em; }
  .widget_ecodocx_brochure span.ajax-loader {
    display: none; }

/**
*Widget UI button contact us
 */
.widget_ecodocx_contact {
  margin-bottom: 30px; }
  .widget_ecodocx_contact a.btn-info {
    width: 100%;
    text-align: center;
    margin-top: 0; }

/**
 *Widget UI image upload
*/
.wpshed-media-widget {
  position: relative;
  margin-bottom: 30px;
  height: 262px; }
  .wpshed-media-widget .widget_content {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6); }
    .wpshed-media-widget .widget_content p {
      color: #fff; }
    .wpshed-media-widget .widget_content a {
      float: right;
      color: #fff;
      border: 1px solid #fff;
      padding: 2px 8px; }

/**
 *Widget UI subscribe
*/
.widget_ecodocx_subscribe {
  margin-bottom: 30px;
  background-color: #f3f3f3;
  border: 1px solid #E3E0EB;
  padding: 15px; }
  .widget_ecodocx_subscribe h4 {
    font-weight: 700;
    color: #4d4192; }
  .widget_ecodocx_subscribe p {
    color: #4d4192; }
  .widget_ecodocx_subscribe input {
    border: 1px solid #4d4192;
    color: #666;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 0.875em; }
  .widget_ecodocx_subscribe input[type="submit"] {
    font-size: 0.875em;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 3px;
    background-color: #4d4192;
    color: #fff;
    margin-top: 15px; }
  .widget_ecodocx_subscribe .btn-info {
    width: 100%;
    text-align: center; }
  .widget_ecodocx_subscribe form .wpcf7-response-output, .widget_ecodocx_subscribe form .wpcf7-display-none, .widget_ecodocx_subscribe form .wpcf7-validation-errors {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0.875em;
    color: #f00; }
  .widget_ecodocx_subscribe form .wpcf7-not-valid-tip {
    font-size: 0.875em; }
  .widget_ecodocx_subscribe form p {
    margin-bottom: 0; }
  .widget_ecodocx_subscribe form .ajax-loader {
    display: none; }

.edit-link {
  margin-bottom: 10px; }

ul.categories-wrap {
  text-align: center;
  margin-bottom: 20px; }
  ul.categories-wrap li {
    display: initial; }
    ul.categories-wrap li.current-cat a {
      background-color: #4d4192;
      color: #fff; }
    ul.categories-wrap li a {
      display: inline-block;
      font-size: 0.875em;
      cursor: pointer;
      margin: 0 10px 10px 0;
      color: #4d4192;
      border: 1px solid #4d4192;
      padding: 4px 12px;
      transition: all 0.3s ease-in-out 0s; }
      @media screen and (max-width: 768px) {
        ul.categories-wrap li a {
          text-align: center;
          width: 100%; } }
      ul.categories-wrap li a:hover {
        background-color: #4d4192;
        color: #fff; }

ul.categories-wrap.all li.cat-item-all a {
  background-color: #4d4192;
  color: #fff; }

.paginate-blog {
  text-align: center; }
  .paginate-blog .current {
    background-color: #4d4192;
    color: #fff;
    padding: 2px 9px 1px; }

#breadcrumbs {
  background-color: rgba(235, 236, 237, 0.1);
  padding: 10px 0;
  width: 100%;
  position: absolute;
  z-index: 1; }
  @media screen and (max-width: 768px) {
    #breadcrumbs {
      display: none; } }
  #breadcrumbs span {
    color: #fff; }
  #breadcrumbs a {
    color: #fff;
    font-size: 0.938em; }
    #breadcrumbs a:hover, #breadcrumbs a:link, #breadcrumbs a:visited, #breadcrumbs a:active {
      color: #fff; }
    #breadcrumbs a:hover {
      text-decoration: underline; }

.post-header {
  z-index: 0;
  position: relative;
  padding: 100px 0 50px 0; }
  @media screen and (max-width: 768px) {
    .post-header {
      padding: 50px 0 25px 0; } }
  .post-header .post-header-title {
    margin-bottom: 100px;
    width: 50%; }
    .post-header .post-header-title h1, .post-header .post-header-title h2, .post-header .post-header-title h3, .post-header .post-header-title p {
      color: #fff;
      text-shadow: 1px 1px 0 rgba(3, 2, 4, 0.75); }
    @media screen and (max-width: 768px) {
      .post-header .post-header-title {
        width: 100%; } }
  .post-header .post-header-content {
    color: #fff; }
    .post-header .post-header-content .post-date {
      margin-bottom: 10px; }
    .post-header .post-header-content .post-categories {
      width: 35%; }
      .post-header .post-header-content .post-categories a {
        display: inline-block;
        font-size: 0.750em;
        padding: 6px 9px;
        margin: 0 5px 5px 0;
        color: #fff;
        background-color: #4d4192; }
        .post-header .post-header-content .post-categories a:hover {
          background-color: #342A75;
          color: #fff;
          text-decoration: none; }

.post-page {
  margin-top: 50px;
  margin-bottom: 30px; }

article a {
  color: #4d4192; }
  article a:link, article a:visited, article a:active {
    color: #4d4192; }
  article a:hover {
    color: #4d4192;
    text-decoration: underline; }
article h4 {
  color: #4d4192;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px; }
article .post-categories {
  margin: 15px 0 30px; }
  article .post-categories a {
    display: inline-block;
    font-size: 0.750em;
    padding: 5px 8px;
    margin: 0 5px 8px 0;
    color: #fff;
    background-color: #4d4192;
    border: 1px solid #4d4192; }
    article .post-categories a:hover {
      background-color: transparent;
      color: #4d4192;
      text-decoration: none; }

.category-list {
  text-align: center;
  margin-bottom: 30px; }
  .category-list h2 {
    color: #4d4192;
    margin: 30px 0; }
  .category-list a {
    display: inline-block;
    padding: 5px 8px;
    margin: 0 5px 8px;
    border: 1px solid #4d4192; }
    .category-list a.active {
      background-color: #4d4192;
      color: #fff; }

.posts .post-date {
  margin-bottom: 10px; }

.post-page article .entry-content ul {
  margin-left: 30px; }
  .post-page article .entry-content ul li {
    list-style-type: disc;
    margin-bottom: 10px; }
.post-page article .entry-content a {
  font-weight: 500; }
.post-page article .entry-content h3 {
  color: #4d4192; }

section.no-results {
  margin-bottom: 30px; }

#searchform-none {
  border-radius: 3px;
  border: 1px solid #666;
  height: 24px;
  margin-top: 23px;
  width: 275px; }
  #searchform-none input[type="text"] {
    background-color: transparent;
    border: 0;
    padding-left: 10px;
    width: 240px; }
  #searchform-none #searchsubmit {
    background: transparent;
    border: 0; }

.contact-header {
  padding: 30px 0;
  text-align: center; }

.map iframe {
  width: 100%;
  height: 460px; }

.contact {
  padding: 30px 0; }
  .contact .text-small {
    font-size: 0.688em; }
  .contact .title-small {
    font-weight: 700;
    font-size: 0.75em; }
  .contact h3 {
    font-weight: 700;
    margin-bottom: 15px; }
  .contact h4 {
    color: #666;
    margin-bottom: 10px; }
  .contact .address-column-left, .contact .address-column-right {
    padding: 15px 0; }

.contact-form1 {
  padding: 15px 15px 0 15px;
  background: #f3f3f3; }
  .contact-form1 .wpcf7-form input {
    margin-bottom: 10px;
    width: 100%; }
  .contact-form1 .wpcf7-form textarea {
    width: 100%;
    min-height: 200px; }
  .contact-form1 .wpcf7-form textarea, .contact-form1 .wpcf7-form input {
    font-size: 0.875em;
    border: 1px solid #4d4192;
    padding: 5px; }
  .contact-form1 .wpcf7-form .wpcf7-list-item-label {
    font-size: 0.875em; }
  .contact-form1 .wpcf7-form .wpcf7-submit {
    display: inline-block;
    font-size: 0.875em;
    cursor: pointer;
    margin: 14px 0 0;
    transition: all 0.3s ease-in-out 0s;
    color: #fff;
    background-color: #4d4192;
    padding: 10px 30px; }
    .contact-form1 .wpcf7-form .wpcf7-submit:hover {
      background-color: #342A75; }
    .contact-form1 .wpcf7-form .wpcf7-submit:link, .contact-form1 .wpcf7-form .wpcf7-submit:visited, .contact-form1 .wpcf7-form .wpcf7-submit:active {
      color: #fff; }
    @media screen and (max-width: 768px) {
      .contact-form1 .wpcf7-form .wpcf7-submit {
        text-align: center;
        width: 100%; } }
  .contact-form1 div.wpcf7-mail-sent-ok, .contact-form1 div.wpcf7-validation-errors, .contact-form1 div.wpcf7-spam-blocked, .contact-form1 div.wpcf7-mail-sent-ng {
    border: 0; }
  .contact-form1 div.wpcf7-response-output {
    margin: 0;
    padding: 0; }
  .contact-form1 .wpcf7-form input[type="checkbox"] {
    width: auto; }
  .contact-form1 .contact-checkbox .wpcf7-list-item {
    margin-top: 10px;
    margin-left: 0; }

.contact-form-cis label {
  width: 135px !important; }

.contact-form-cis {
  padding: 30px 0; }
  .contact-form-cis label {
    display: inline-block; }
  .contact-form-cis .wpcf7-list-item-label {
    font-size: 0.875em; }
  .contact-form-cis .wpcf7-form input, .contact-form-cis .wpcf7-form select {
    margin-bottom: 10px;
    width: 100%;
    max-width: 312px; }
  .contact-form-cis .wpcf7-form textarea {
    min-height: 200px;
    max-height: 500px;
    min-width: 312px;
    max-width: 312px;
    vertical-align: top; }
  .contact-form-cis .wpcf7-form textarea, .contact-form-cis .wpcf7-form input, .contact-form-cis .wpcf7-form select {
    font-size: 0.875em;
    border: 1px solid #4d4192;
    padding: 5px; }
  .contact-form-cis .wpcf7-form .wpcf7-submit {
    display: inline-block;
    font-size: 0.875em;
    cursor: pointer;
    margin: 14px 0 0;
    transition: all 0.3s ease-in-out 0s;
    color: #fff;
    background-color: #4d4192;
    padding: 10px 30px;
    width: auto; }
    .contact-form-cis .wpcf7-form .wpcf7-submit:hover {
      background-color: #342A75; }
    .contact-form-cis .wpcf7-form .wpcf7-submit:link, .contact-form-cis .wpcf7-form .wpcf7-submit:visited, .contact-form-cis .wpcf7-form .wpcf7-submit:active {
      color: #fff; }
    @media screen and (max-width: 768px) {
      .contact-form-cis .wpcf7-form .wpcf7-submit {
        text-align: center;
        width: 100%; } }
  .contact-form-cis div.wpcf7-mail-sent-ok, .contact-form-cis div.wpcf7-validation-errors, .contact-form-cis div.wpcf7-spam-blocked, .contact-form-cis div.wpcf7-mail-sent-ng {
    border: 0; }
  .contact-form-cis div.wpcf7-response-output {
    margin: 0;
    padding: 0; }
  .contact-form-cis .wpcf7-form input[type="checkbox"] {
    width: auto; }
  .contact-form-cis .contact-checkbox .wpcf7-list-item {
    margin-top: 10px;
    margin-left: 0; }
  .contact-form-cis .text-small {
    font-size: 0.688em; }
  .contact-form-cis .title-small {
    font-weight: 700;
    font-size: 0.75em; }

main#main {
  padding-bottom: 30px; }

.not-found {
  margin-top: 30px; }
  .not-found .content-error {
    margin-top: 120px; }

h2.page-title {
  text-align: center;
  margin: 30px 0; }

.bottom-block {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  margin-left: 45px;
  margin-right: 45px; }
  @media screen and (max-width: 425px) {
    .bottom-block {
      position: relative;
      bottom: 0;
      margin-left: 0;
      margin-right: 0; } }

.partner-block {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media screen and (max-width: 425px) {
    .partner-block {
      padding-bottom: 0; } }
  .partner-block .partner-item {
    background-color: #f3f3f3;
    text-align: center;
    padding: 30px;
    height: 100%; }
    .partner-block .partner-item:before {
      content: '';
      position: absolute;
      right: 15px;
      top: 0;
      border-top: 45px solid white;
      border-left: 45px solid #f3f3f3; }
    @media screen and (max-width: 425px) {
      .partner-block .partner-item {
        margin-bottom: 30px; } }
    .partner-block .partner-item h3 {
      font-weight: 500;
      color: #4d4192;
      margin-bottom: 15px; }
    .partner-block .partner-item .btn {
      width: 100%;
      margin-bottom: 10px; }
    .partner-block .partner-item .link-learn-more {
      font-size: 0.875em;
      text-align: left;
      margin-bottom: 0; }

.info-product {
  padding: 30px 0; }
  @media screen and (max-width: 767px) {
    .info-product .btn {
      margin-top: 15px; }
    .info-product .description {
      margin: 0 auto 15px auto;
      text-align: center; } }
  @media screen and (max-width: 767px) and (max-width: 767px) {
    .info-product .description {
      text-align: justify; } }

.description {
  margin: 0 auto;
  text-align: center; }
  @media screen and (max-width: 767px) {
    .description {
      text-align: justify; } }

.details {
  height: 600px; }
  .details .container {
    position: relative;
    height: 100%; }
  .details h1 {
    margin-bottom: 20px; }
  .details h3 {
    font-size: 1.625em; }
  .details h1, .details h2, .details h3, .details h4, .details p {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(3, 2, 4, 0.75); }
  .details .details-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%; }
    @media screen and (max-width: 768px) {
      .details .details-content {
        width: 100%; } }
  .details .btn-info {
    margin-top: 0; }

.advantages-using {
  padding-top: 30px; }
  .advantages-using h2 {
    margin-bottom: 30px;
    text-align: center; }
  .advantages-using .advantage-using-item {
    overflow: hidden;
    margin-bottom: 30px; }
    @media screen and (max-width: 425px) {
      .advantages-using .advantage-using-item {
        text-align: center; } }
    .advantages-using .advantage-using-item img {
      float: left;
      width: 100px; }
      @media screen and (max-width: 425px) {
        .advantages-using .advantage-using-item img {
          float: none; } }
    .advantages-using .advantage-using-item p {
      float: left;
      max-width: 245px;
      padding-left: 15px; }
      @media screen and (max-width: 425px) {
        .advantages-using .advantage-using-item p {
          float: none;
          max-width: 100%;
          padding-left: 0; } }

.advantages {
  padding-top: 30px;
  text-align: center; }
  .advantages h2 {
    margin-bottom: 30px; }
  .advantages .advantage-item {
    margin-bottom: 30px; }
    .advantages .advantage-item img {
      width: 100px; }
    .advantages .advantage-item h4 {
      margin-top: 14px;
      margin-bottom: 2px;
      font-weight: 700; }
    .advantages .advantage-item b {
      font-weight: 700; }
    .advantages .advantage-item p {
      margin-bottom: 30px; }

.business-benefits {
  padding-top: 30px;
  text-align: left; }
  .business-benefits .business-benefits-left-column h2 {
    margin-bottom: 10px; }
    @media screen and (max-width: 768px) {
      .business-benefits .business-benefits-left-column h2 {
        text-align: center; } }
  .business-benefits .business-benefits-left-column p {
    width: 195px; }
    @media screen and (max-width: 768px) {
      .business-benefits .business-benefits-left-column p {
        margin: auto;
        text-align: center;
        width: 250px; } }
  .business-benefits .business-benefits-left-column b {
    color: #4d4192; }
  .business-benefits .bb-item-down {
    margin-top: 78px; }
    @media screen and (max-width: 768px) {
      .business-benefits .bb-item-down {
        margin-top: 0; } }
  .business-benefits .business-benefits-item {
    margin-bottom: 30px; }
    @media screen and (max-width: 425px) {
      .business-benefits .business-benefits-item .icon {
        text-align: center; } }
    .business-benefits .business-benefits-item img {
      width: 100px; }
    .business-benefits .business-benefits-item h4 {
      margin-top: 14px;
      margin-bottom: 2px;
      font-weight: 700; }
      @media screen and (max-width: 425px) {
        .business-benefits .business-benefits-item h4 {
          text-align: center; } }
    .business-benefits .business-benefits-item b {
      font-weight: 700; }
    .business-benefits .business-benefits-item p {
      margin-bottom: 30px; }

.whitepaper {
  padding: 30px 0; }
  .whitepaper h3 {
    font-weight: 700;
    margin-bottom: 15px; }
  .whitepaper h4 {
    font-weight: 700;
    color: #666;
    font-size: 1em; }
  .whitepaper a.btn {
    width: auto; }
  @media screen and (max-width: 425px) {
    .whitepaper {
      text-align: center; }
      .whitepaper a.btn {
        width: 100%; }
      .whitepaper img {
        width: 50%; } }

#main-header, #post-header, #slider, .details {
  position: relative;
  color: #fff; }

#main-header:before, .single-slide:before, .details:before, .post-header:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  left: 0;
  top: 0;
  position: absolute; }

#main-header {
  height: 420px; }
  #main-header .container {
    height: 100%; }
  #main-header h1 {
    margin-bottom: 20px; }
  #main-header h3 {
    font-size: 1.625em; }
  #main-header h1, #main-header h2, #main-header h3, #main-header h4, #main-header p {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(3, 2, 4, 0.75); }
  #main-header .main-header-content {
    position: relative;
    top: 50%;
    height: 220px;
    margin-top: -110px;
    width: 50%; }
    @media screen and (max-width: 768px) {
      #main-header .main-header-content {
        width: 100%; } }

.bold-link a {
  color: #4d4192;
  text-decoration: none; }
  .bold-link a:hover, .bold-link a:link, .bold-link a:visited, .bold-link a:active {
    color: #4d4192;
    text-decoration: none; }

.list-wrap {
  margin-top: 30px; }
  .list-wrap ul {
    float: left; }
    @media screen and (max-width: 768px) {
      .list-wrap ul {
        float: none; } }
    .list-wrap ul.list-right {
      margin-left: 60px; }
      @media screen and (max-width: 768px) {
        .list-wrap ul.list-right {
          margin-left: 30px; } }

.text-center {
  text-align: center; }

.related-products {
  text-align: center;
  padding-top: 30px; }
  .related-products .related-products-wrap {
    width: 1040px;
    margin-right: auto;
    margin-left: auto; }
  .related-products h2 {
    font-size: 1.8em;
    color: #4d4192;
    text-align: center;
    margin-bottom: 30px; }
  .related-products .related-products-item {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px; }
    .related-products .related-products-item .icon {
      width: 280px;
      margin: 0 auto; }
      @media screen and (max-width: 768px) {
        .related-products .related-products-item .icon img {
          width: 100%; } }
    .related-products .related-products-item h4 {
      margin-top: 14px;
      margin-bottom: 12px;
      color: #666; }
  .related-products .owl-nav .owl-prev {
    left: 0;
    margin-left: -50px; }
    .related-products .owl-nav .owl-prev i {
      position: absolute;
      left: 0;
      margin-left: 10px; }
  .related-products .owl-nav .owl-next {
    right: 0;
    margin-right: -50px; }
    .related-products .owl-nav .owl-next i {
      position: absolute;
      right: 0;
      margin-right: 10px; }
  .related-products .owl-nav .owl-prev, .related-products .owl-nav .owl-next {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    top: 50%;
    margin-top: -40px; }
    .related-products .owl-nav .owl-prev:hover, .related-products .owl-nav .owl-next:hover {
      background-color: #4d4192;
      color: #fff; }
    .related-products .owl-nav .owl-prev i, .related-products .owl-nav .owl-next i {
      font-size: 2.250em; }

.industry-solutions {
  padding-top: 30px; }
  .industry-solutions h2 {
    text-align: center;
    margin-bottom: 30px; }
  .industry-solutions .industry-solutions-item {
    margin-bottom: 30px;
    position: relative;
    text-align: center; }
    @media screen and (max-width: 425px) {
      .industry-solutions .industry-solutions-item .icon img {
        width: 100%; } }
    .industry-solutions .industry-solutions-item p {
      padding: 10px 0;
      font-weight: 500; }
    .industry-solutions .industry-solutions-item a.cover-link {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1; }
      .industry-solutions .industry-solutions-item a.cover-link:hover:before {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        left: 0;
        top: 0;
        position: absolute;
        z-index: -1; }

.content-block {
  padding: 30px 0; }
  @media screen and (max-width: 767px) {
    .content-block p {
      text-align: justify; } }
  .content-block h2 {
    font-size: 1.8em;
    color: #4d4192;
    text-align: center;
    margin-bottom: 30px; }
  .content-block h4 {
    margin: 10px 0;
    color: #666; }
    .content-block h4 i {
      margin-right: 10px; }
    .content-block h4 span {
      color: #4d4192; }
  .content-block .btn {
    margin-top: 20px; }
  .content-block ul {
    margin-left: 30px; }
    .content-block ul li {
      list-style-type: disc;
      color: #4d4192; }
      .content-block ul li span {
        color: #666; }
  .content-block .videoplayer {
    position: absolute;
    top: 25px;
    right: 55px; }
    @media screen and (max-width: 320px) {
      .content-block .videoplayer {
        top: 15px;
        right: 35px; } }
    @media screen and (max-width: 425px) and (min-width: 321px) {
      .content-block .videoplayer {
        top: 20px;
        right: 42px; } }
    @media screen and (max-width: 990px) and (min-width: 768px) {
      .content-block .videoplayer {
        top: 17px;
        right: 38px; } }
    @media screen and (max-width: 1024px) and (min-width: 990px) {
      .content-block .videoplayer {
        top: 25px;
        right: 45px; } }
    .content-block .videoplayer iframe {
      width: 470px;
      height: 300px; }
      @media screen and (max-width: 320px) {
        .content-block .videoplayer iframe {
          width: 246px;
          height: 153px; } }
      @media screen and (max-width: 425px) and (min-width: 321px) {
        .content-block .videoplayer iframe {
          width: 332px;
          height: 210px; } }
      @media screen and (max-width: 990px) and (min-width: 768px) {
        .content-block .videoplayer iframe {
          width: 292px;
          height: 184px; } }
      @media screen and (max-width: 1024px) and (min-width: 990px) {
        .content-block .videoplayer iframe {
          width: 386px;
          height: 238px; } }

.bg-caramel {
  background-color: #f3f3f3; }

.four-steps {
  padding: 30px 0; }
  .four-steps h2 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 30px; }

.partnership {
  padding: 30px 0; }
  .partnership .col-fix {
    margin-bottom: 30px; }
  .partnership img {
    vertical-align: middle; }
  .partnership h2 {
    font-size: 1.8em;
    color: #4d4192;
    text-align: center; }
  .partnership .icon {
    text-align: center;
    height: 180px;
    line-height: 180px; }
  .partnership .btn-primary {
    margin: 30px 0 0; }
  .partnership .wrapper-btn {
    width: 100%;
    text-align: center;
    float: left;
    padding-left: 15px;
    padding-right: 15px; }
  .partnership .wrapper {
    border: 1px solid #f3f3f3;
    padding: 0 30px;
    margin-top: 30px;
    height: 100%; }
    .partnership .wrapper h4 {
      color: #333;
      font-weight: 500;
      font-size: 1em;
      margin-bottom: 10px; }
    .partnership .wrapper p:last-child {
      margin-bottom: 0; }

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #666; }
  footer p {
    color: #888; }
    footer p span {
      color: #fff;
      font-weight: 400; }
  footer .info {
    padding-top: 30px; }
    @media screen and (max-width: 767px) {
      footer .info {
        text-align: center; } }
    footer .info .intro, footer .info .social, footer .info .questions, footer .info .contact-us {
      margin-bottom: 30px; }
    footer .info a {
      color: #888; }
      footer .info a:link, footer .info a:visited, footer .info a:active {
        color: #888; }
      footer .info a:hover {
        color: #333; }
      footer .info a .fa {
        font-size: 1.6em; }
    footer .info h4 {
      color: #fff;
      margin-bottom: 15px;
      font-weight: 500; }
    footer .info .questions p {
      margin: 15px 0 0; }
    footer .info .questions a.btn-info {
      color: #fff;
      margin-top: 0; }
    footer .info .social ul {
      display: inline-block; }
      footer .info .social ul li {
        float: left;
        margin-right: 14px; }
        footer .info .social ul li:last-child {
          margin-right: 0; }
  footer .copyright {
    background-color: #333;
    padding: 8px 0 6px; }
    footer .copyright img {
      width: 143px;
      height: 26px; }
      @media screen and (max-width: 768px) {
        footer .copyright img {
          display: none; } }
    footer .copyright p {
      float: right;
      margin: 5px 0 0; }
      @media screen and (max-width: 768px) {
        footer .copyright p {
          float: none;
          text-align: center;
          margin-top: 0; } }
      footer .copyright p a {
        color: #fff; }
        footer .copyright p a:hover, footer .copyright p a:link, footer .copyright p a:visited, footer .copyright p a:active {
          color: #fff;
          text-decoration: none; }

/*# sourceMappingURL=style.css.map */
