html, body {
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.4;
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 2500px ) {
    font-size: 18px;
  }
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-top: 91px;
  padding-bottom: 204px;
  margin: 0;
  //transition: padding-top 0.5s ease-in-out 0s;
  @media screen and (max-width: 992px) {
    padding-top: 46px;
    //transition: padding-top 0.5s ease-in-out 0s;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2{
  font-weight: 500;
}

h1, h2, h4 {
  color: $color-purple;
}

h1 {
  font-size: 2.250em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.313em;
  color: $color-grey;
}

h3, h4 {
  font-weight: 700;
}

h4 {
  font-size: 1.125em;
}

p {
  color: $color-grey;
  margin-bottom: 10px;
}

ol, ul {
  margin-bottom: 0; /*bootstrap 10px!*/
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.color-purple {
  color: $color-purple;
}

.nav-menu > li > .ul-wrap > ul > li.first .ul-wrap {
  display: block;
  z-index: 1;
}

.nav-menu > li > .ul-wrap > ul > li.sub-active .ul-wrap {
  display: block;
  height: 190px;
  z-index: 3;
}

li.language ul#menu-language-menu.active {
  display: block;
}

a {
  color: $color-purple;
  text-decoration: none;
  &:hover, &:link, &:visited, &:active {
    color: $color-purple;
    text-decoration: none;
  }
}

.light-title {
  color: $color-white;
}

.img-center {
  text-align: center;
}

input, button, textarea {
  outline: none;
}