/* Variables */

$color-white: #fff;
$color-purple: #4d4192;
$color-purple-hover: #6762a7;
$color-light-purple: #342A75;
$color-grey: #666;
$color-caramel: #f3f3f3;
$color-dark-grey: #333;
$color-light-grey: #888;
$font-stack: "Exo", "Arial", sans-serif;
$line-height-36: 36px;
$radius: 8px;
$bg-size: cover;
$main-menu-height: 58px;
$main-menu-item-padding: 0 15px;
$container-width: 940px;
$container-padding: 20px;
$body-min-width: $container-width + $container-padding*2;
$footer-height: 86px;