<section class="advantage">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="advantage-item">
                    <div class="icon"><img src="http://via.placeholder.com/100x100" alt="" width="100" height="100" class="alignnone size-full wp-image-618" /></div>
                    <h4>Lorem Ipsum</h4>
                    <p><b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="advantage-item">
                    <div class="icon"><img src="http://via.placeholder.com/100x100" alt="" width="100" height="100" class="alignnone size-full wp-image-603" /></div>
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="advantage-item">
                    <div class="icon"><img src="http://via.placeholder.com/100x100" alt="" width="100" height="100" class="alignnone size-full wp-image-604" /></div>
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, <b>consectetur</b> adipiscing elit</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="advantage-item">
                    <div class="icon"><img src="http://via.placeholder.com/100x100" alt="" width="100" height="100" class="alignnone size-full wp-image-608" /></div>
                    <h4>Lorem Ipsum</h4>
                    <p><b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit</p>
                </div>
            </div>
        </div>
    </div>
</section>