<section class="industry-solutions">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h2>Industry Solutions</h2></div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="industry-solutions-item">
                    <div class="icon">
                        <img src="http://ecodocx-new-wordpress.ecodocx.net/wp-content/uploads/2017/08/business-capabilities.jpg" alt="" width="360" height="210" class="alignnone size-full wp-image-667" />
                    </div>
                    <p><a href="#">Solutions for Healthcare Industry</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="industry-solutions-item">
                    <div class="icon">
                        <img src="http://ecodocx-new-wordpress.ecodocx.net/wp-content/uploads/2017/08/insurance.jpg" alt="" width="360" height="210" class="alignnone size-full wp-image-668" />
                    </div>
                    <p><a href="#">Solutions for Insurance Provider</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="industry-solutions-item">
                    <div class="icon">
                        <img src="http://ecodocx-new-wordpress.ecodocx.net/wp-content/uploads/2017/08/utility.jpg" alt="" width="360" height="210" class="alignnone size-full wp-image-669" />
                    </div>
                    <p><a href="#">Solutions for Utilities</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="industry-solutions-item">
                    <div class="icon">
                        <img src="http://ecodocx-new-wordpress.ecodocx.net/wp-content/uploads/2017/08/telecom.jpg" alt="" width="360" height="210" class="alignnone size-full wp-image-670" />
                    </div>
                    <p><a href="#">Telecommunication and Media Provider</a></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="industry-solutions-item">
                    <div class="icon">
                        <img src="http://ecodocx-new-wordpress.ecodocx.net/wp-content/uploads/2017/08/print-service.jpg" alt="" width="360" height="210" class="alignnone size-full wp-image-671" />
                    </div>
                    <p><a href="#">Solutions for Print Service Provider</a></p>
                </div>
            </div>
        </div>
    </div>
</section>