<section class="related-solutions">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Lorem Title</h2>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="related-solution-item">
                        <div class="icon"><img src="http://via.placeholder.com/320x190" alt="" width="300" height="190" class="alignnone size-medium wp-image-660" /></div>
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="btn">Learn more</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="related-solution-item">
                        <div class="icon"><img src="http://via.placeholder.com/320x190" alt="" width="325" height="190" class="alignnone size-medium wp-image-661" /></div>
                        <h4>Lorem ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a class="btn">Learn more</a>
                    </div>
                </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="related-solution-item">
                            <div class="icon"><img src="http://via.placeholder.com/320x190" alt="" width="318" height="190" class="alignnone size-medium wp-image-662" /></div>
                            <h4>Lorem ipsum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a class="btn">Learn more</a>
                        </div>
                    </div>
            </div>
        </div>
</section>