<section class="related-solutions">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Related solutions</h2>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="related-solution-item">
                        <div class="icon"><img src="http://ecodocx-new-wordpress.ecodocx.net/wp-content/uploads/2017/08/bcc-300x190.png" alt="" width="300" height="190" class="alignnone size-medium wp-image-660" /></div>
                        <h4>Business Communications Center</h4>
                        <p>Combine transactional documents (invoices, statements, shipping orders) with targeted, personalized messages (marketing ads, coupons, notices) improving customer engagement levels.</p>
                        <a class="btn">Learn more</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="related-solution-item">
                        <div class="icon"><img src="http://ecodocx-new-wordpress.ecodocx.net/wp-content/uploads/2017/08/dbd-325x190.png" alt="" width="325" height="190" class="alignnone size-medium wp-image-661" /></div>
                        <h4>Dynamic Business Documents</h4>
                        <p>Create business documents on demand by combining pre-approved document templates and data from your customer database, improving brand integrity.</p>
                        <a class="btn">Learn more</a>
                    </div>
                </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="related-solution-item">
                            <div class="icon"><img src="http://ecodocx-new-wordpress.ecodocx.net/wp-content/uploads/2017/08/do-318x190.png" alt="" width="318" height="190" class="alignnone size-medium wp-image-662" /></div>
                            <h4>Enterprise Document Center</h4>
                            <p>Digital workspace for managing document generation processes, user access control, document approval, document post processing, sorting and bundling.</p>
                            <a class="btn">Learn more</a>
                        </div>
                    </div>
            </div>
        </div>
</section>