.bread-crumbs {
  position: relative;
  background-color: $color-purple;
  padding: 10px 0;
  ul li {
    float: left;
    &:last-child {
      font-weight: 700;
      .fa {
        display: none;
      }
    }
  }
  a {
    color: $color-white;
    &:hover {
      text-decoration: underline;
    }
  }
  .fa {
    color: $color-white;
    margin: 0 7px;
  }
}