.btn, .btn-info, .btn-primary {
  display: inline-block;
  font-size: 0.875em;
  cursor: pointer;
  margin: 14px 0 0;
  border-radius: 3px;
  transition: all 0.3s ease-in-out 0s;
  @media screen and (max-width: 768px) {
    text-align: center;
    width: 100%;
  }
}

.btn, .btn-info {
  color: $color-white;
  background-color: $color-purple;
  &:link, &:visited, &:active {
    color: $color-white;
  }
}

.btn {
  padding: 9px 29px;
  border: 1px solid $color-purple;
  &:hover {
    color: $color-purple;
    background-color: transparent;
  }
}

.btn-info {
  padding: 10px 30px;
  &:hover {
    background-color: $color-light-purple;
  }
}

.btn-primary {
  color: $color-purple;
  border: 1px solid $color-purple;
  padding: 9px 29px;
  &:link, &:visited, &:active {
    color: $color-purple;
  }
  &:hover {
    background-color: $color-purple;
    color: $color-white;
  }
}

.btn-custom {
  padding: 9px 17px;
}