.a2a_kit a {
  float: left;
  margin-right: 7px;
}
.a2a_svg {
  border-radius: 5px;
}

#sidebar_footer {
  margin-top: 30px;
}

/**
* Widget UI Media Img
 */

.wpshed-media-widget-footer {
  width: 31.5%;
  float: left;
  margin-right: 15px;
  .sidebar-wrap-ftr {
    position: relative;
  }
  h4.widget-title {
    border-bottom: 1px solid $color-grey;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  .widget_content, .image-wrap-ftr {
    background: #f3f3f3;
  }
  .widget_content {
    padding: 10px;
  }
  .image-wrap-ftr {
    height: 150px;
    img {
      height: 150px;
      width: 100%;
    }
  }
  .cover-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    &:hover {
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        left: 0;
        top: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
}

.wpshed-media-widget-footer-notitle {
  width: 31.5%;
  float: left;
  margin-right: 15px;
  margin-top: 51px;
  &:last-child {
    margin-right: 0;
  }
  .sidebar-wrap-ftr {
    position: relative;
  }
  .widget_content, .image-wrap-ftr {
    background: #f3f3f3;
  }
  .widget_content {
    padding: 10px;
  }
  .image-wrap-ftr {
    height: 150px;
    img {
      height: 150px;
      width: 100%;
    }
  }
  .cover-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    &:hover {
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.1);
        left: 0;
        top: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
}

.widget_media_image {
  margin-top: 30px;
}

/**
* sidebar footer
 */

#sidebar_footer {
  margin-top: 30px;
}

/**
* Widget UI brochure form
 */

.widget_ecodocx_brochure, .widget_ecodocx_brochure_de {
  margin-bottom: 30px;
  h4 {
    margin-bottom: 10px;
  }
  input, select {
    border: 1px solid $color-purple;
    color: $color-grey;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 0.875em;
  }
  input[type="submit"] {
    font-size: 0.875em;
    padding-top: 9px;
    padding-bottom: 9px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: $color-purple;
    color: $color-white;
    margin-top: 15px;
  }
  p.title-small {
    font-weight: 700;
    font-size: 0.75em;
  }
  p.text-small {
    font-size: 0.688em;
  }
  span.ajax-loader {
    display: none;
  }
}

/**
*Widget UI button contact us
 */

.widget_ecodocx_contact, .widget_ecodocx_contact_de {
  margin-bottom: 30px;
  a.btn-info {
    width: 100%;
    text-align: center;
    margin-top: 0;
    padding: 10px 0px;
  }
}

/**
 *Widget UI image upload
*/

.wpshed-media-widget {
  position: relative;
  margin-bottom: 30px;
  height: 262px;
  .widget_content {
    position: absolute;
    bottom: 0;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    p {
      color: $color-white;
    }
    a {
      float: right;
      color: $color-white;
      border: 1px solid $color-white;
      padding: 2px 8px;
    }
  }
}

/**
 *Widget UI subscribe
*/

.widget_ecodocx_subscribe, .widget_ecodocx_subscribe_de {
  margin-bottom: 30px;
  background-color: $color-caramel;
  border: 1px solid #E3E0EB;
  padding: 15px;
  h4 {
    font-weight: 700;
    color: $color-purple;
  }
  p {
    color: $color-purple;
  }
  input {
    border: 1px solid $color-purple;
    color: $color-grey;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px 10px;
    font-size: 0.875em;
  }
  input[type="submit"] {
    font-size: 0.875em;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 3px;
    background-color: $color-purple;
    color: $color-white;
    margin-top: 15px;
  }
  .btn-info {
    width: 100%;
    text-align: center;
  }
  form {
    .wpcf7-response-output, .wpcf7-display-none, .wpcf7-validation-errors {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 0.875em;
      color: #f00;
    }
    .wpcf7-not-valid-tip {
      font-size: 0.875em;
    }
    p {
      margin-bottom: 0;
    }
    .ajax-loader {
      display: none;
    }
  }
}

.edit-link {
  margin-bottom: 10px;
}

  ul.categories-wrap {
    text-align: center;
    margin-bottom: 20px;
    li {
      display: initial;
      &.current-cat {
        a {
          background-color: $color-purple;
          color: $color-white;
        }
      }
      a {
        display: inline-block;
        font-size: 0.875em;
        cursor: pointer;
        margin: 0 10px 10px 0;
        color: $color-purple;
        border: 1px solid $color-purple;
        padding: 4px 12px;
        transition: all 0.3s ease-in-out 0s;
        @media screen and (max-width: 768px) {
          text-align: center;
          width: 100%;
        }
        &:hover {
          background-color: $color-purple;
          color: $color-white;
        }
      }
    }
  }

  ul.categories-wrap.all {
    li.cat-item-all {
      a {
        background-color: $color-purple;
        color: $color-white;
      }
    }
  }


.paginate-blog {
  text-align: center;
  .current {
    background-color: #4d4192;
    color: #fff;
    padding: 2px 9px 1px;
  }
}

#breadcrumbs {
  background-color: rgba(235, 236, 237, 0.1);
  padding: 10px 0;
  width: 100%;
  position: absolute;
  z-index: 1;

  @media screen and (max-width: 768px) {
    display: none;
  }
  span {
    color: $color-white;
  }
  a {
    color: $color-white;
    font-size: 0.938em;
    &:hover, &:link, &:visited, &:active {
      color: $color-white;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

.post-header {
  z-index: 0;
  position: relative;
  padding: 100px 0 50px 0;
  @media screen and (max-width: 768px) {
    padding: 50px 0 25px 0;
  }
  .post-header-title {
    h1, h2, h3, p {
      color: $color-white;
      text-shadow: 1px 1px 0 rgba(3, 2, 4, 0.75);
    }
    margin-bottom: 100px;
    width: 50%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .post-header-content {
    color: $color-white;
    .post-date {
      margin-bottom: 10px;
    }
    .post-categories {
      width: 35%;
        a {
          display: inline-block;
          font-size: 0.750em;
          padding: 6px 9px;
          margin: 0 5px 5px 0;
          color: $color-white;
          background-color: $color-purple;
          &:hover {
            background-color: $color-light-purple;
            color: $color-white;
            text-decoration: none;
          }
        }
    }
  }
}

.post-page {
  margin-top: 50px;
  margin-bottom: 30px;
}

article {
  a {
    color: $color-purple;
    &:link, &:visited, &:active {
      color: $color-purple;
    }
    &:hover {
      color: $color-purple;
      text-decoration: underline;
    }
  }
  h4 {
    color: $color-purple;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .post-categories {
    margin: 15px 0 30px;
      a {
        display: inline-block;
        font-size: 0.750em;
        padding: 5px 8px;
        margin: 0 5px 8px 0;
        color: $color-white;
        background-color: $color-purple;
        border: 1px solid $color-purple;
        &:hover {
          background-color: transparent;
          color: $color-purple;
          text-decoration: none;
        }
      }
  }
}


.category-list {
  text-align: center;
  margin-bottom: 30px;
  h2 {
    color: $color-purple;
    margin: 30px 0;
  }
  a {
    display: inline-block;
    padding: 5px 8px;
    margin: 0 5px 8px;
    border: 1px solid $color-purple;
    &.active {
      background-color: $color-purple;
      color: $color-white;
    }
  }
}

.posts {
    .post-date {
      margin-bottom: 10px;
    }
}

.post-page {
  article {
    .entry-content {
      ul {
          margin-left: 30px;
          li {
            list-style-type: disc;
            margin-bottom: 10px;
          }
      }
      a {
        font-weight: 500;
      }
      h3 {
        color: $color-purple;
      }
    }
  }
}