.contact-header {
  padding: 30px 0;
  text-align: center;
}

.map {
  iframe {
      width: 100%;
      height: 460px;
  }
}

.contact {
  padding: 30px 0;
  .text-small {
    font-size: 0.688em;
  }
  .title-small {
    font-weight: 700;
    font-size: 0.75em;
  }
  h3 {
    font-weight: 700;
    margin-bottom: 15px;
  }
  h4 {
    color: $color-grey;
    margin-bottom: 10px;
  }
  .address-column-left, .address-column-right {
    padding: 15px 0;
  }
}

.contact-form1 {
  padding: 15px 15px 0 15px;
  background: $color-caramel;

.wpcf7-form {
  input {
    margin-bottom: 10px;
    width: 100%;
  }
  textarea {
    width: 100%;
    min-height: 200px;
  }
  textarea, input {
    font-size: 0.875em;
    border: 1px solid $color-purple;
    padding: 5px;

  }
  .wpcf7-list-item-label {
    font-size: 0.875em;
  }
  .wpcf7-submit {
    display: inline-block;
    font-size: 0.875em;
    cursor: pointer;
    margin: 14px 0 0;
    transition: all 0.3s ease-in-out 0s;
    color: $color-white;
    background-color: $color-purple;
    padding: 10px 30px;
    &:hover {
      background-color: $color-light-purple;
    }
    &:link, &:visited, &:active {
      color: $color-white;
    }
    @media screen and (max-width: 768px) {
      text-align: center;
      width: 100%;
    }
  }
}

div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors, div.wpcf7-spam-blocked, div.wpcf7-mail-sent-ng {
  border: 0;
}
div.wpcf7-response-output {
  margin: 0;
  padding: 0;
}

.wpcf7-form input[type="checkbox"] {
  width: auto;
}

.contact-checkbox {
  .wpcf7-list-item {
    margin-top: 10px;
    margin-left: 0;
  }
}
}

.contact-form-cis {
  label {
    width: 135px !important;
  }
}

.contact-form-cis {
  padding: 30px 0;
  label {
    display: inline-block;
  }
  .wpcf7-list-item-label {
    font-size: 0.875em;
  }
  .wpcf7-form {
    input, select {
      margin-bottom: 10px;
      width: 100%;
      max-width: 312px;
    }
    textarea {
      min-height: 200px;
      max-height: 500px;
      min-width: 312px;
      max-width: 312px;
      vertical-align: top;
    }
    textarea, input, select {
      font-size: 0.875em;
      border: 1px solid $color-purple;
      padding: 5px;

    }
    .wpcf7-submit {
      display: inline-block;
      font-size: 0.875em;
      cursor: pointer;
      margin: 14px 0 0;
      transition: all 0.3s ease-in-out 0s;
      color: $color-white;
      background-color: $color-purple;
      padding: 10px 30px;
      width: auto;
      &:hover {
        background-color: $color-light-purple;
      }
      &:link, &:visited, &:active {
        color: $color-white;
      }
      @media screen and (max-width: 768px) {
        text-align: center;
        width: 100%;
      }
    }
  }

  div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors, div.wpcf7-spam-blocked, div.wpcf7-mail-sent-ng {
    border: 0;
  }
  div.wpcf7-response-output {
    margin: 0;
    padding: 0;
  }

  .wpcf7-form input[type="checkbox"] {
    width: auto;
  }

  .contact-checkbox {
    .wpcf7-list-item {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  .text-small {
    font-size: 0.688em;
  }
  .title-small {
    font-weight: 700;
    font-size: 0.75em;
  }
}