
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $color-grey;
  p {
    color: $color-light-grey;
    span {
      color: $color-white;
      font-weight: 400;
    }
  }
  .info {
    padding-top: 30px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
    .intro, .social, .questions, .contact-us {
      margin-bottom: 30px;
    }
    a {
      color: $color-light-grey;
      &:link, &:visited, &:active {
        color: $color-light-grey;
      }
      &:hover {
        color: $color-dark-grey;
      }
      .fa {
        font-size: 1.6em;
      }
    }
    h4 {
      color: $color-white;
      margin-bottom: 15px;
      font-weight: 500;
    }
    .questions {
      p {
        margin: 15px 0 0;
      }
      a.btn-info {
        color: $color-white;
        margin-top: 0;
      }
    }
    .social {
      ul {
      display: inline-block;
        li {
          float: left;
          margin-right: 14px;
          &:last-child {
            margin-right: 0;
          }
      }
      }
    }
  }
  .copyright {
    background-color: $color-dark-grey;
    padding: 8px 0 6px;
    img {
      width: 143px;
      height: 26px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    p {
      float: right;
      margin: 5px 0 0;
      @media screen and (max-width: 768px) {
        float: none;
        text-align: center;
        margin-top: 0;
      }
      a {
        color: $color-white;
        &:hover, &:link, &:visited, &:active {
          color: $color-white;
          text-decoration: none;
        }
      }
    }
  }
}