.logged-in {
  margin-top: 32px;
  transition: all .35s;
  @media screen and (max-width: 768px) {
    margin-top: 46px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  @media screen and (max-width: 768px) {
    height: 46px;
    border-bottom: 1px solid #f3f3f3;
    transition: all 0.5s ease-in-out 0s;
  }
  .top-nav {
    height: $main-menu-height;
    transition: all 0.5s ease-in-out 0s;
    background-color: $color-white;
    @media screen and (max-width: 992px) {
      height: 45px;
    }
  }
  .logo {
    float: left;
    @media screen and (max-width: 768px) {
    }
    a {
      img {
        width: 176px;
        height: 30px;
        transition: all 0.5s ease-in-out 0s;
        margin-top: 14px;
      @media screen and (max-width: 992px) {
        width: 143px;
        height: 25px;
        transition: all 0.5s ease-in-out 0s;
        margin-top: 9px;
      }
      }
    }
  }
  #burger-menu {
    display: none;
    float: right;
    margin-top: 9px;
    @media screen and (max-width: 768px) {
      display: block;
    }
    i {
      font-size: 2em;
      color: $color-purple;
    }
  }
  ul.utility-nav-small {
    display: none;
    float: right;
    font-size: 1.7em;
    margin-top: 6px;
    @media screen and (max-width: 768px) {
      display:none;
    }
    .language-sub {
      display: none;
    }
    li.language, li.search-icon {
      float: left;
    }
    li.search-icon {
      margin-right: 15px;
    }
  }

  nav.page-nav {
    font-size: 0.875em;
    font-weight: 500;
    background-color: $color-purple;
    @media screen and (min-width: 769px) and (max-width: 992px) {
      font-size: 0.750em;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
    ul.nav-menu li ul li ul.sub-menu li ul.sub-menu li a {
      display: inline;
    }
    ul.nav-menu > li:hover > a {
      background-color: $color-purple-hover;
      color: $color-white;
      cursor: pointer;
    }
    ul.nav-menu {
      margin-left: -15px;
      li {
        float: left;
        a {
          display: block;
          color: $color-white;
          text-transform: uppercase;
          padding: 8px 15px 6px 15px;
          transition: padding 0.5s ease-in-out 0s;
        }
        .ul-wrap {
          display: none;
          width: 100%;
          background-color: $color-purple-hover;
          position: absolute;
          left: 0;
        }
        ul {
          width: 1170px;
          margin-left: auto;
          margin-right: auto;
          @media screen and (max-width: 1200px) {
            width: 970px;
          }
          @media screen and (max-width: 991px) {
            width: 750px;
          }
          li {
            padding: 8px 15px 6px 15px;
            &:hover > a {
              text-decoration: underline;
            }
            a {
              color: $color-white;
              padding: 0;
              &:hover {
                text-decoration: underline;
              }
            }
            .ul-wrap {
              background-color: #e1e8f6;
              margin-top: 6px;
            }
            ul.sub-menu {
              li {
                padding: 25px 15px 20px 15px;
                &:hover > a {
                  color: $color-purple;
                  text-decoration: none;
                }
                .ul-wrap {
                  display: block;
                  width: auto;
                  margin: 0;
                  position: relative;
                  background: transparent;
                }
                a {
                  color: $color-purple;
                  background: transparent;
                  font-size: 1.125em;
                  font-weight: 500;
                  padding: 0;
                  pointer-events: none;
                  cursor: default;
                  &:hover {
                    background: transparent;
                    text-decoration: none;
                  }
                }
                ul.sub-menu {
                  display: block;
                  margin-top: 15px;
                  width: auto;
                  li {
                    float: none;
                    margin-bottom: 5px;
                    padding: 0;
                    a {
                      color: $color-grey;
                      pointer-events: auto;
                      cursor: pointer;
                      font-weight: 500;
                      font-size: 1em;
                      text-transform: none;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }
            }

          }
        }
      }
    }
    li#menu-item-480:hover > a, li#menu-item-2271:hover > a {
      background: transparent;
      color: $color-grey;
    }
    li#menu-item-480, li#menu-item-2271 {
      .ul-wrap {
        width: auto;
        left: auto;
        .sub-menu {
          width: auto;
          li {
            float: none;
          }
        }
      }
    }
  }

}

#menu-item-746, #menu-item-749, #menu-item-754, #menu-item-226, #menu-item-2280, #menu-item-2277, #menu-item-2278, #menu-item-2274 {
  > .ul-wrap {
    > ul.sub-menu {
      padding: 25px 15px 20px 15px;
      > li {
        padding: 0;
        margin-bottom: 5px;
        float: none;
        > a {
          display: inline;
          color: $color-grey;
          text-decoration: none;
          text-transform: none;
          pointer-events: auto;
          cursor: pointer;
          font-weight: 500;
          font-size: 1em;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#menu-item-753, #menu-item-2279 {
  >.ul-wrap {
    height: auto;
  }
}

#menu-item-226, #menu-item-2274 {
  > .ul-wrap {
    background-color: #e1e8f6;
    border-top: 5px solid $color-purple-hover;
  }
}

.header-menu-language {
  display: block;
  @media screen and (max-width: 768px) {
    display: none;
  }
  ul {
    li#menu-item-2487 {
      padding: 21px 30px 18px 15px;
      transition: padding 0.5s ease-in-out 0s;
      @media screen and (min-width: 769px) and (max-width: 992px) {
        padding: 15px 30px 12px 15px;
        transition: padding 0.5s ease-in-out 0s;
      }
      a {
        font-size: 0.875em;
      }
      .ul-wrap {
        margin-top: 2px;
        margin-left: -15px;
        ul.sub-menu {
          padding: 6px 15px 5px;
        }
      }
    }
  }
}

.header-menu-small-language {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
  ul {
    li#menu-item-2436 {
      a {
        padding: 14px 15px 13px;
      }
      .ul-wrap {
        z-index: 1001;
      }
    }
  }
}

.header-menu-language, .header-menu-small-language  {
  float: right;
  ul {
    li#menu-item-2436, li#menu-item-2487 {
      a {
        display: block;
        color: #666;
        text-transform: uppercase;
        font-weight: 500;
        transition: padding 0.5s ease-in-out 0s;
      }
      .ul-wrap {
        display: none;
        width: auto;
        left: auto;
        background-color: $color-purple-hover;
        position: absolute;
        .sub-menu {
          width: auto;
          padding-top: 8px;
          padding-bottom: 6px;
          li {
            padding-top: 6px;
            padding-bottom: 4px;
            a {
              color: $color-white;
              padding-top: 0;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.header-menu-small {
  display: none;
  position: relative;
  width: 100%;
  padding: 15px;
  background-color: $color-purple;
  z-index: 999;
  ul.nav-menu-small {
    li {
      cursor: pointer;
      padding: 10px 0;
      a {
        font-size: 1.5em;
        line-height: 0;
        color: $color-white;
        text-transform: uppercase;
        text-decoration: none;
        &:link, &:visited, &:active {
          text-decoration: none;
          color: $color-white;
        }
      }
      i {
        color: $color-white;
        font-size: 1.143em;
        position: absolute;
        right: 15px;
      }
      .ul-wrap {
        display: none;
        margin-top: 10px;
      }
      ul.sub-menu {
        li {
          margin-left: 15px;
          a {
            font-size: 1.333em;
            text-transform: uppercase;
            font-weight: 500;
          }
          ul.sub-menu {
            li {
              a {
                font-size: 1.167em;
                text-transform: none;
              }
            }
            ul.sub-menu {
              li {
                a {
                  font-size: 1em;
                  font-weight: 500;
                }
                i {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .menu-item-225, .menu-item-224 {
    ul.sub-menu {
      li {
        i {
          display: none;
        }
      }
    }
  }
}

#searchform {
  display: block;
  border-radius: 3px;
  border: 1px solid $color-grey;
  height: 24px;
  float: right;
  margin-top: 17px;
  transition: margin 0.5s ease-in-out 0s;
  @media screen and (min-width: 769px) and (max-width: 992px) {
    margin-top: 11px;
    transition: margin 0.5s ease-in-out 0s;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
  input[type="text"] {
    background-color: transparent;
    border: 0;
    padding-left:10px;
    width: 140px;
  }
}

#searchsubmit {
  background: transparent;
  padding: 0;
  border: 0;
  margin-top: -2px;
  margin-right: 10px;
}