#slider-blog {
  padding: 6px 3px 0 3px;
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 992px) {
    text-align: center;
  }
    .col-slider-blog {
      display: flex;
      flex-direction: column;
      float: left;
      width: 25%;
      padding-left: 3px;
      padding-right: 3px;
      @media screen and (max-width: 425px) {
        width: 100%;
      }
      @media screen and (min-width: 425px) and (max-width: 768px) {
        width: 50%;
      }
      .box {
        position: relative;
        background: $color-caramel;
        height:100%;
        width: 100%;
        .box-img {
          img {
            width: 100%;
          }
        }
        .box-title {
          padding: 15px;
          a {
            color: $color-grey;
            font-weight: 500;
            &:hover, &:link, &:visited, &:active {
              color: $color-grey;
            }
          }
        }
        a.cover-link {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 1;
          &:hover {
            &:before {
              content: '';
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.1);
              left: 0;
              top: 0;
              position: absolute;
              z-index: -1;
            }
          }
        }
      }
    }
}